<h1>Installing Requests module</h1>

In [20]:
pip install requests

Requirement already satisfied: requests in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

<h1>Installing MySql-Connector module</h1>

In [21]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd

In [23]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Get the API token from the environment variable
api_token = os.getenv('API_TOKEN')

<h1>Creating API request</h1>

In [25]:
import requests

import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Get the API token from the environment variable
api_token = os.getenv('API_TOKEN')

url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": f'{api_token}'
}

response = requests.get(url, headers=headers)

print(response.json())

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg', 'genre_ids': [18, 80], 'id': 278, 'original_language': 'en', 'original_title': 'The Shawshank Redemption', 'overview': 'Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.', 'popularity': 170.454, 'poster_path': '/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg', 'release_date': '1994-09-23', 'title': 'The Shawshank Redemption', 'video': False, 'vote_average': 8.706, 'vote_count': 26489}, {'adult': False, 'backdrop_path': '/tmU7GeKVybMWFButWEGl2M4GeiP.jpg', 'genre_ids': [18, 80], 'id': 238, 'original_language': 'en', 'original_title': 'The Godfather', 'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.', 'popularity': 153.375, 'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg', 'release_date': '1972-03-14', 'title': 'The Godfather', 'video': False, 'vote_average': 8.692, 'vote_count': 20108}, {'adult': False, 'backdrop_path': '/b6w7gKLQLS2zw4JK0XmKgQ4gnzr.jpg', 'genre_ids': [18, 80], 'id': 240, 'original_language': 'en', 'original_title': 'The Godfather Part II', 'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.', 'popularity': 118.44, 'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg', 'release_date': '1974-12-20', 'title': 'The Godfather Part II', 'video': False, 'vote_average': 8.577, 'vote_count': 12132}, {'adult': False, 'backdrop_path': '/zb6fM1CX41D9rF9hdgclu0peUmy.jpg', 'genre_ids': [18, 36, 10752], 'id': 424, 'original_language': 'en', 'original_title': "Schindler's List", 'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.', 'popularity': 141.482, 'poster_path': '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg', 'release_date': '1993-12-15', 'title': "Schindler's List", 'video': False, 'vote_average': 8.566, 'vote_count': 15539}, {'adult': False, 'backdrop_path': '/qqHQsStV6exghCM7zbObuYBiYxw.jpg', 'genre_ids': [18], 'id': 389, 'original_language': 'en', 'original_title': '12 Angry Men', 'overview': "The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.", 'popularity': 64.066, 'poster_path': '/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg', 'release_date': '1957-04-10', 'title': '12 Angry Men', 'video': False, 'vote_average': 8.545, 'vote_count': 8385}, {'adult': False, 'backdrop_path': '/m4TUa2ciEWSlk37rOsjiSIvZDXE.jpg', 'genre_ids': [16, 10751, 14], 'id': 129, 'original_language': 'ja', 'original_title': '千と千尋の神隠し', 'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.', 'popularity': 145.756, 'poster_path': '/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg', 'release_date': '2001-04-18', 'title': 'Spirited Away', 'video': False, 'vote_average': 8.5, 'vote_count': 16136}, {'adult': False, 'backdrop_path': '/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg', 'genre_ids': [35, 18, 10749], 'id': 19404, 'original_language': 'hi', 'original_title': 'दिलवाले दुल्हनिया ले जायेंगे', 'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.', 'popularity': 54.892, 'poster_path': '/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg', 'release_date': '1995-10-20', 'title': 'Dilwale Dulhania Le Jayenge', 'video': False, 'vote_average': 8.536, 'vote_count': 4406}, {'adult': False, 'backdrop_path': '/dqK9Hag1054tghRQSqLSfrkvQnA.jpg', 'genre_ids': [18, 28, 80, 53], 'id': 155, 'original_language': 'en', 'original_title': 'The Dark Knight', 'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.', 'popularity': 167.287, 'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg', 'release_date': '2008-07-16', 'title': 'The Dark Knight', 'video': False, 'vote_average': 8.516, 'vote_count': 32240}, {'adult': False, 'backdrop_path': '/8eihUxjQsJ7WvGySkVMC0EwbPAD.jpg', 'genre_ids': [35, 53, 18], 'id': 496243, 'original_language': 'ko', 'original_title': '기생충', 'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.", 'popularity': 130.198, 'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg', 'release_date': '2019-05-30', 'title': 'Parasite', 'video': False, 'vote_average': 8.509, 'vote_count': 17789}, {'adult': False, 'backdrop_path': '/vxJ08SvwomfKbpboCWynC3uqUg4.jpg', 'genre_ids': [14, 18, 80], 'id': 497, 'original_language': 'en', 'original_title': 'The Green Mile', 'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.", 'popularity': 105.412, 'poster_path': '/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg', 'release_date': '1999-12-10', 'title': 'The Green Mile', 'video': False, 'vote_average': 8.506, 'vote_count': 17013}, {'adult': False, 'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg', 'genre_ids': [16, 10749, 18], 'id': 372058, 'original_language': 'ja', 'original_title': '君の名は。', 'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.', 'popularity': 138.95, 'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg', 'release_date': '2016-08-26', 'title': 'Your Name.', 'video': False, 'vote_average': 8.49, 'vote_count': 11120}, {'adult': False, 'backdrop_path': '/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg', 'genre_ids': [53, 80], 'id': 680, 'original_language': 'en', 'original_title': 'Pulp Fiction', 'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.", 'popularity': 117.332, 'poster_path': '/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg', 'release_date': '1994-09-10', 'title': 'Pulp Fiction', 'video': False, 'vote_average': 8.488, 'vote_count': 27399}, {'adult': False, 'backdrop_path': '/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg', 'genre_ids': [12, 14, 28], 'id': 122, 'original_language': 'en', 'original_title': 'The Lord of the Rings: The Return of the King', 'overview': 'As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.\u200b', 'popularity': 156.309, 'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg', 'release_date': '2003-12-01', 'title': 'The Lord of the Rings: The Return of the King', 'video': False, 'vote_average': 8.482, 'vote_count': 23649}, {'adult': False, 'backdrop_path': '/ghgfzbEV7kbpbi1O8eIILKVXEA8.jpg', 'genre_ids': [35, 18, 10749], 'id': 13, 'original_language': 'en', 'original_title': 'Forrest Gump', 'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.', 'popularity': 114.31, 'poster_path': '/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg', 'release_date': '1994-06-23', 'title': 'Forrest Gump', 'video': False, 'vote_average': 8.475, 'vote_count': 26903}, {'adult': False, 'backdrop_path': '/fzkLKtZCkYSDzxoqntE5KgIqvzk.jpg', 'genre_ids': [12, 36, 28, 18, 10749, 53], 'id': 1084736, 'original_language': 'fr', 'original_title': 'Le Comte de Monte-Cristo', 'overview': 'Edmond Dantes becomes the target of a sinister plot and is arrested on his wedding day for a crime he did not commit. After 14 years in the island prison of Château d’If, he manages a daring escape. Now rich beyond his dreams, he assumes the identity of the Count of Monte-Cristo and exacts his revenge on the three men who betrayed him.', 'popularity': 70.761, 'poster_path': '/aHRUsFln97FlIdsvYKFT3z5ubYE.jpg', 'release_date': '2024-06-28', 'title': 'The Count of Monte-Cristo', 'video': False, 'vote_average': 8.467, 'vote_count': 315}, {'adult': False, 'backdrop_path': '/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg', 'genre_ids': [37], 'id': 429, 'original_language': 'it', 'original_title': 'Il buono, il brutto, il cattivo', 'overview': 'While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.', 'popularity': 109.076, 'poster_path': '/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg', 'release_date': '1966-12-22', 'title': 'The Good, the Bad and the Ugly', 'video': False, 'vote_average': 8.465, 'vote_count': 8386}, {'adult': False, 'backdrop_path': '/d6UxFCGQxpszcf8mwgGjQ3ynqGl.jpg', 'genre_ids': [18, 80], 'id': 769, 'original_language': 'en', 'original_title': 'GoodFellas', 'overview': 'The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.', 'popularity': 85.602, 'poster_path': '/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg', 'release_date': '1990-09-12', 'title': 'GoodFellas', 'video': False, 'vote_average': 8.5, 'vote_count': 12563}, {'adult': False, 'backdrop_path': '/bxSBOAD8AuMHYMdW3jso9npAkgt.jpg', 'genre_ids': [10751, 18], 'id': 667257, 'original_language': 'es', 'original_title': 'Cosas imposibles', 'overview': 'After the death of her abusive husband, Matilde finds her new best friend in Miguel, her young, insecure, and disoriented neighbor.', 'popularity': 21.727, 'poster_path': '/t2Ew8NZ8Ci2kqmoecZUNQUFDJnQ.jpg', 'release_date': '2021-06-17', 'title': 'Impossible Things', 'video': False, 'vote_average': 8.458, 'vote_count': 380}, {'adult': False, 'backdrop_path': '/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg', 'genre_ids': [28, 18], 'id': 346, 'original_language': 'ja', 'original_title': '七人の侍', 'overview': "A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.", 'popularity': 60.146, 'poster_path': '/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg', 'release_date': '1954-04-26', 'title': 'Seven Samurai', 'video': False, 'vote_average': 8.459, 'vote_count': 3562}, {'adult': False, 'backdrop_path': '/gwj4R8Uy1GwejKqfofREKI9Jh7L.jpg', 'genre_ids': [16, 18, 10752], 'id': 12477, 'original_language': 'ja', 'original_title': '火垂るの墓', 'overview': 'In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.', 'popularity': 0.049, 'poster_path': '/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg', 'release_date': '1988-04-16', 'title': 'Grave of the Fireflies', 'video': False, 'vote_average': 8.5, 'vote_count': 5326}], 'total_pages': 476, 'total_results': 9515}

In [26]:
print(f"API Token: {api_token}")

API Token: Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3NmY1NDQ0NjdhZDM0ZTVhYzI0Y2FkODhkMjY5OWMwOSIsIm5iZiI6MTcyMTY2MjkyNy4wODY1NCwic3ViIjoiNjY5ZTdjMDRmYTA2ZTE5MDdlNmU1NWVmIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.pCG1jC2YjYvN0lpZOKG2ghUuyoJnei6v9rEvuCE5E1w

<h1>Converting API response to dataframe</h1>

In [27]:
df = pd.DataFrame(response.json()['results'])[['title', 'release_date','original_language','adult','popularity','overview','vote_count','vote_average']]

In [28]:
df.head()

,title,release_date,original_language,adult,popularity,overview,vote_count,vote_average
0,The Shawshank Redemption,1994-09-23,en,False,170.454,Imprisoned in the 1940s for the double murder ...,26489,8.706
1,The Godfather,1972-03-14,en,False,153.375,"Spanning the years 1945 to 1955, a chronicle o...",20108,8.692
2,The Godfather Part II,1974-12-20,en,False,118.440,In the continuing saga of the Corleone crime f...,12132,8.577
3,Schindler's List,1993-12-15,en,False,141.482,The true story of how businessman Oskar Schind...,15539,8.566
4,12 Angry Men,1957-04-10,en,False,64.066,The defense and the prosecution have rested an...,8385,8.545

<h1>Collecting Data from all pages from responses</h1>

In [29]:
for  i in range(2,477):
    url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={}".format(i)
    response = requests.get(url, headers=headers)
    temp_df = pd.DataFrame(response.json()['results'])[['title', 'release_date','original_language','adult','popularity','overview','vote_count','vote_average']]
    df= pd.concat([df, temp_df], ignore_index=True)

In [30]:
df

,title,release_date,original_language,adult,popularity,overview,vote_count,vote_average
0,The Shawshank Redemption,1994-09-23,en,False,170.454,Imprisoned in the 1940s for the double murder ...,26489,8.706
1,The Godfather,1972-03-14,en,False,153.375,"Spanning the years 1945 to 1955, a chronicle o...",20108,8.692
2,The Godfather Part II,1974-12-20,en,False,118.440,In the continuing saga of the Corleone crime f...,12132,8.577
3,Schindler's List,1993-12-15,en,False,141.482,The true story of how businessman Oskar Schind...,15539,8.566
4,12 Angry Men,1957-04-10,en,False,64.066,The defense and the prosecution have rested an...,8385,8.545
...,...,...,...,...,...,...,...,...
9510,Alone in the Dark,2005-01-28,en,False,19.515,Edward Carnby is a private investigator specia...,590,3.245
9511,Disaster Movie,2008-08-29,en,False,32.546,"Over the course of one evening, an unsuspectin...",1007,3.200
9512,House of the Dead,2003-04-11,en,False,14.259,"Set on an island off the coast, a techno rave ...",374,3.139
9513,Dragonball Evolution,2009-03-12,en,False,33.594,"On his 18th birthday, Goku receives a mystical...",2002,2.896
9514,Birdemic: Shock and Terror,2010-02-27,en,False,11.382,A platoon of eagles and vultures attacks the r...,326,2.184

In [31]:
df.to_csv("Top_rated_movies.csv")

<h1>Connecting the sql server</h1>

In [ ]:
import mysql.connector
import os

# List of CSV files and their corresponding table names
csv_files = [
    ('Top_rated_movies.csv', 'Top_rated_movies'),
]

# Connect to the MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='J3p$Rm7q',
    database='Top_rated_movies'
)
cursor = conn.cursor()

# Folder containing the CSV files
folder_path = r'C:\Users\HP\Desktop\Pyhton + SQL project'

def get_sql_type(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    elif pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    elif pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    elif pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    else:
        return 'TEXT'

for csv_file, table_name in csv_files:
    file_path = os.path.join(folder_path, csv_file)
    
    df = pd.read_csv(file_path)
    
    df = df.where(pd.notnull(df), None)
    
    print(f"Processing {csv_file}")
    print(f"NaN values before replacement:\n{df.isnull().sum()}\n")

    df.columns = [col.replace(' ', '_').replace('-', '_').replace('.', '_') for col in df.columns]

    columns = ', '.join([f'`{col}` {get_sql_type(df[col].dtype)}' for col in df.columns])
    create_table_query = f'CREATE TABLE IF NOT EXISTS `{table_name}` ({columns})'
    cursor.execute(create_table_query)

    for _, row in df.iterrows():
        
        values = tuple(None if pd.isna(x) else x for x in row)
        sql = f"INSERT INTO `{table_name}` ({', '.join(['`' + col + '`' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(row))})"
        cursor.execute(sql, values)

    conn.commit()

# Close the connection
conn.close()